%html
  %head
    %title RAMPdata
    %link{:type => "text/css", :rel => "stylesheet", :href => "http://ramp.heroku.com/stylesheets/styles.css"}
    %meta{:charset => "UTF-8"}
    <style>#triage{float:left; margin-bottom: 1em} #triage a{display:block; float: left; width:auto; margin: 0.2em 0.2em 0 0;border:1pt solid blue;padding:0.4em 1em;font-weight:bold;} #triage a:hover {background-color:pink;} #triage a:visited {color: #0000EE;}</style>
  %body
    = yield
    %p RAMPdata | <a href="http://ramp.heroku.com">RAMP</a>
